.low-confidence {
    border: 1px solid yellow;
}

.high-confidence {
    border: 1px solid green;
}

.confidence-containers div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    float: "left";
    width: 90px;
    height: 90px;
}